.gallery {
    --z: 32px;  /* control the zig-zag  */
    --s: 360px; /* control the size */
    --g: 8px;   /* control the gap */
    
    display: grid;
    gap: var(--g);
    width: calc(2*var(--s) + var(--g));
    grid-auto-flow: column;
    margin-left: 10%;
    width: 85vw;
  }
  .gallery > img {
    width: 0;
    min-width: calc(100% + var(--z)/2);
    height: var(--s);
    object-fit: cover;
    -webkit-mask: var(--mask);
            mask: var(--mask);
    cursor: pointer;
    transition: .5s;
  }
  .gallery > img:hover {
    width: calc(var(--s)/2);
  }
  .gallery > img:first-child {
    place-self: start;
    clip-path: polygon(calc(2*var(--z)) 0,100% 0,100% 100%,0 100%);
    --mask: 
      conic-gradient(from -135deg at right,#0000,#000 1deg 89deg,#0000 90deg) 
        50%/100% calc(2*var(--z)) repeat-y;
  }
  .gallery > img:last-child {
    place-self: end;
    clip-path: polygon(0 0,100% 0,calc(100% - 2*var(--z)) 100%,0 100%);
    --mask: 
      conic-gradient(from   45deg at left ,#0000,#000 1deg 89deg,#0000 90deg) 
        50% calc(50% - var(--z))/100% calc(2*var(--z)) repeat-y;
  }
  #versus_title {
    text-align: center;
    font-family: system-ui, sans-serif;
    word-spacing: .8em;
  }
  #versus_title span:first-child {
    color: #047004;
  }
  #versus_title span:last-child {
    color: #af3817;
  }

/* ------------------ MEDIA QUERIES  ------------------ */

/* ------ MOBILE ------ */
@media screen and (max-width: 600px) {

}

/* ------ SMALL DESKTOP SIZE ------ */
@media (min-width: 601px) and (max-width: 1024px) {

}

/* ------ NORMAL DESKTOP SIZE ------ */
@media screen and (min-width: 1025px) {

}